.ContactData{
    margin: 0px auto;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #aaa;
    height: 600px;

}

.ContactDataWrapper{
    position: relative;
    background-color: tan;
    min-height: 700px;
}


.ContactData input, .ContactData select{
    border-radius: 10px;
}
/* 
@media (min-width: 600px){
    .ContactData{
        width: 500px;
    }
} */