.Auth{
    margin: 20px auto;
    position: absolute;
    top: 35%;
    left: 20%;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.Auth input{
    border-radius: 10px;
}

h2 {
    text-align: center; 
}

@media (min-width: 600px){
    .Auth{
        width: 500px;
    }
}